1. Whatsapp-Lead-Qualification/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        256
      ],
      "id": "fa70d191-3ebb-467e-b85c-5e1dee6e2e7d",
      "name": "WhatsApp Trigger",
      "webhookId": "",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        608
      ],
      "id": "7cfd29ff-7d16-4957-bab4-87b0434ba0bd",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=USER MESSAGE:\n{{ $json.messages[0].text.body }}\n\nUSER PHONE NUMBER:\n{{ $json.contacts[0].wa_id }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a STRICT data extraction engine for a flooring quote workflow.\n\nYou DO NOT control conversation flow.\nYou DO NOT decide next steps.\nYou DO NOT hallucinate or assume data.\nYou ONLY extract data from what is explicitly provided.\nYou ALWAYS pass USER_PHONE number in every response.\n\n────────────────────────────\nMANDATORY TOOL CALL — DO THIS FIRST\n────────────────────────────\n\n⚠️ BEFORE doing ANYTHING else (except overrides below):\nYou MUST call the \"Get Data\" tool using the USER PHONE NUMBER.\nThis is NOT optional.\nDo NOT skip this step.\nDo NOT assume the result.\nDo NOT proceed to extraction until the tool has returned a result.\n\nIf the tool fails or returns an error → call it again once.\nIf it fails again → treat user as NEW USER and continue.\n\n────────────────────────────\nABSOLUTE OVERRIDES — CHECK BEFORE ANY OTHER LOGIC\n────────────────────────────\n\n⚠️ These are checked IN ORDER before ANY tool call, step detection, or field validation.\n\n— OVERRIDE 1: GREETING —\nIf USER MESSAGE is ONLY a greeting word or phrase:\n\"hi\", \"hello\", \"hey\", \"hii\", \"helo\", \"salam\", \"assalam\", \"good morning\",  \"Hi, I'd like to get a free flooring quote\",\n\"good afternoon\", \"good evening\", \"good night\", \"howdy\", \"greetings\", \"sup\", \"yo\"\n(case-insensitive, with or without punctuation/emojis)\n→ STOP. Do not call sheet. Do not detect step.\n→ Return IMMEDIATELY:\n{\n  \"intent\": \"greeting\",\n  \"field\": \"greeting\",\n  \"value\": \"<user's original message>\",\n  \"user_phone\": \"<USER PHONE NUMBER>\"\n}\n\n— OVERRIDE 2: OTHER / 5 —\nIf USER MESSAGE is exactly \"5\" OR contains the word \"other\" (case-insensitive):\n→ STOP. Do not call sheet. Do not detect step.\n→ Return IMMEDIATELY:\n{\n  \"intent\": \"other\",\n  \"field\": \"other\",\n  \"value\": \"other\",\n  \"user_phone\": \"<USER PHONE NUMBER>\"\n}\n\n— OVERRIDE 3: SKIP —\nIf USER MESSAGE is exactly \"skip\" OR \".\":\n→ STOP. Return IMMEDIATELY:\n{\n  \"intent\": \"skip\",\n  \"field\": \"skip\",\n  \"value\": \"skip\",\n  \"user_phone\": \"<USER PHONE NUMBER>\"\n}\n\n────────────────────────────\nREVERIFY / STEP-GUARD (CRITICAL)\n────────────────────────────\n\nAfter \"Get Data\" returns, you MUST re-verify the CURRENT STEP using the returned row.\n\nIMPORTANT:\n- You are NOT allowed to pick an intent that conflicts with the computed CURRENT STEP.\n- If you are about to return an intent that is NOT the CURRENT STEP, you MUST return:\n{\n  \"intent\": \"other\",\n  \"field\": null,\n  \"value\": null,\n  \"user_phone\": \"<USER PHONE NUMBER>\"\n}\n\nNUMERIC PROJECT DETAILS GUARD:\nIf USER MESSAGE matches this NUMERIC-ONLY pattern:\n- digits 1-4 optionally separated by commas/spaces\n- examples: \"2\", \"3\", \"1,4\", \"2, 3\", \" 1 , 4 \"\nPattern rule:\n- After removing spaces, it must match: ^[1-4](,[1-4])*$\n\nThen:\n- You are NOT allowed to return \"full_name\", \"email\", \"company\", \"preferred_contact\", \"location\", or \"phone\".\n- You may only return:\n  a) \"project_details\" IF CURRENT STEP = project_details and BOTH Project Details and Project Details Other are empty\n  b) otherwise return \"other\" (because step is not project_details anymore)\n\nNormalization:\n- If returning project_details, remove spaces in the value (e.g. \"2, 3\" → \"2,3\")\n\n────────────────────────────\nGOOGLE SHEET STATE\n────────────────────────────\n\nAfter calling \"Get Data\" tool:\n\nIf tool returned NO ROWS or ALL fields are empty → NEW USER.\nIf tool returned a row with some fields filled → EXISTING USER.\n\n────────────────────────────\nSTEP 1 — NEW USER LOGIC\n────────────────────────────\n\nIf NEW USER:\n→ Ignore step detection logic.\n→ Detect intent directly from USER MESSAGE.\n→ Classify as one of:\n   greeting | location | project_details | full_name | email | phone | company | preferred_contact | other\n→ Return immediately.\n\n────────────────────────────\nSTEP 2 — EXISTING USER STEP DETECTION\n────────────────────────────\n\nDetermine CURRENT STEP in this exact order:\n\n1) If Location is empty → CURRENT STEP = \"location\"\n\n2) Else if BOTH Project Details AND Project Details Other are empty:\n   → CURRENT STEP = \"project_details\"\n   → Now check USER MESSAGE:\n      - If user sent a NUMBER (1, 2, 3, 4, or combinations like \"1,4\" or \"2, 3\"):\n        → intent = \"project_details\"\n        → field = \"project_details\"\n        → value = exact number(s) user typed (NORMALIZE by removing spaces: \"2, 3\" → \"2,3\")\n      - If user sent FREE TEXT (any non-numeric flooring description):\n        → intent = \"project_details_other\"\n        → field = \"project_details_other\"\n        → value = exact text user typed\n      - If user sent \"5\" or \"other\":\n        → already handled by OVERRIDE 2 above\n\n   ⚠️ IMPORTANT — COMPLETION CHECK:\n   If Project Details is filled (even if Project Details Other is empty) → step is COMPLETE, skip to step 3.\n   If Project Details Other is filled (even if Project Details is empty) → step is COMPLETE, skip to step 3.\n   Do NOT try to fill the empty one.\n   Do NOT return project_details or project_details_other if either is already filled.\n\n3) Else if Full Name is empty → CURRENT STEP = \"full_name\"\n\n4) Else if Email Address is empty → CURRENT STEP = \"email\"\n\n5) Else if Phone_Number is empty → CURRENT STEP = \"phone\"\n\n6) Else if Company is empty → CURRENT STEP = \"company\"\n\n7) Else if Preferred Contact is empty → CURRENT STEP = \"preferred_contact\"\n\n8) Else → CURRENT STEP = \"complete\"\n\n⚠️ Extract ONLY the field for the CURRENT STEP.\nDo NOT extract multiple fields.\nDo NOT jump steps.\nDo NOT infer or assume missing values.\n\n────────────────────────────\nFIELD VALIDATION RULES\n────────────────────────────\n\nlocation: City, town, or area name only.\n\nproject_details:\n- \"1\", \"2\", \"3\", \"4\" or combinations like \"1,4\" / \"2, 3\" → return exactly (NORMALIZE remove spaces).\n- \"5\" or \"other\" → DO NOT extract. Treat as intent \"other\".\n- Free text flooring description → return as text.\n\nfull_name: Person name only.\n\nemail:\n- Must contain \"@\" and \".\"\n- If invalid → return null\n\nphone:\n- Must contain at least 8 digits (ignore spaces/symbols).\n- If valid → return the EXACT original user message as value.\n- If invalid (less than 8 digits) → return the EXACT original user message as value anyway.\n- NEVER return null for phone. Always return what the user typed.\n\ncompany: Business name only.\n\npreferred_contact:\n- \"1\" → Phone\n- \"2\" → Email\n- \"3\" → Chat\n\ngreeting: \"hi\", \"hello\", \"hey\", \"good morning\", \"good afternoon\", etc.\n\n────────────────────────────\nSTRICT RESPONSE FORMAT\n────────────────────────────\n\nReturn ONLY valid JSON. NO explanations. NO markdown. ONLY raw JSON.\n\n{\n  \"intent\": \"<greeting | location | project_details | project_details_other | full_name | email | phone | company | preferred_contact | skip | complete | other>\",\n  \"field\": \"<same as intent or null>\",\n  \"value\": \"<exact extracted value or null>\",\n  \"user_phone\": \"<USER PHONE NUMBER>\"\n}\n\nIf message does not match expected step:\n{\n  \"intent\": \"other\",\n  \"field\": null,\n  \"value\": null,\n  \"user_phone\": \"<USER PHONE NUMBER>\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        272
      ],
      "id": "eba9b275-1a19-4b0d-84f8-560629fb28e1",
      "name": "Intent Detection Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c5ee06f-c451-4aed-9571-f9ffb77215f9",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
              "rightValue": "interactive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        256
      ],
      "id": "b83bb8c9-a946-4833-8a00-4275e021ba7d",
      "name": "Check Interactive or Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/Your Whatsapp Phone Number ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Your Auth Token    "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\":{{ $json.phone }},\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"body\": {\n      \"text\": \"📏 Estimated project size (select one option):\"\n    },\n    \"action\": {\n      \"button\": \"Select Size\",\n      \"sections\": [\n        {\n          \"title\": \"Project Sizes\",\n          \"rows\": [\n            { \"id\": \"size_1\", \"title\": \"Small\", \"description\": \"<500 m²\" },\n            { \"id\": \"size_2\", \"title\": \"Medium\", \"description\": \"500–2,000 m²\" },\n            { \"id\": \"size_3\", \"title\": \"Large\", \"description\": \"2,000–5,000 m²\" },\n            { \"id\": \"size_4\", \"title\": \"Extra Large\", \"description\": \"5,000+ m²\" }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        32
      ],
      "id": "e819d8d6-6f5f-455b-a800-241334b27ecc",
      "name": "Get Project_Size"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/Your Whatsapp Phone Number ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Your Auth Token    "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": {{ $json.contacts[0].wa_id }},\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Reply yes or no to choose options?\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"yes_offer\",\n            \"title\": \"Yes\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"no_offer\",\n            \"title\": \"No\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        240
      ],
      "id": "42cf360d-e040-4565-948a-5e2ef375c8c9",
      "name": "Ask for confirmation"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $('Format Agent Output').item.json.phone }}",
        "textBody": "=Where should we send your quote? What’s your full name?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1232,
        432
      ],
      "id": "ce6a9262-ffcc-4e19-b467-7cde18f9e693",
      "name": "Ask For Name",
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "// Mapping of numbers to field names\nconst mapping = {\n  1: \"Concrete\",\n  2: \"Existing Coating/Resin\",\n  3: \"Tiles\",\n  4: \"Timber\"\n};\nconst valueString = $('Router 1').first().json.value\n\nif (!valueString || !valueString.trim()) {\n  return { json: { mappedValues: [] } };\n}\nconst numbers = valueString\n  .split(',')\n  .map(v => v.trim())\n  .map(v => parseInt(v, 10))\n  .filter(n => !isNaN(n));\n\nconst mappedValues = numbers.map(n => mapping[n]).filter(Boolean);\n\nreturn { json: { mappedValues } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        432
      ],
      "id": "001a6b76-6510-4ac4-bd76-f37d503b98a8",
      "name": "Map Project_Details"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "=What’s your email address?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1232,
        624
      ],
      "id": "e4267981-7fd0-4c69-9b2f-509b8070086f",
      "name": "Ask for Email",
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $('Format Agent Output').item.json.phone }}",
            "Full Name": "={{ $('Router 1').item.json.value }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        624
      ],
      "id": "647e5d7f-c877-4f23-bc8a-36ce680d2339",
      "name": "Add Full_Name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea9c9b28-f3eb-4c69-832d-4bb49b9c3060",
              "leftValue": "={{ $json.value.isEmail() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        848
      ],
      "id": "2b94efc1-f071-4dfd-8e72-e85eb1d37ee4",
      "name": "Validate Email"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "=Invalid email address, please provide correct email address",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1984,
        768
      ],
      "id": "4fd43183-9580-4862-b50c-ed91d52fd146",
      "name": "Ask for Email Again",
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "=What’s your phone number? (Include area code)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2000,
        960
      ],
      "id": "c347e6ca-0119-4f95-9dfc-6d9f2122515f",
      "name": "Ask for Phone_Number",
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.contacts[0].wa_id }}",
            "Email Address": "={{ $('Validate Email').item.json.value }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        960
      ],
      "id": "1b366f1e-726c-41d1-ab2c-9f94dcecf65e",
      "name": "Add Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea9c9b28-f3eb-4c69-832d-4bb49b9c3060",
              "leftValue": "={{ $json.value.replace(/\\D/g, '').length >= 8 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        1056
      ],
      "id": "2dd6981b-ddda-4c13-b9ad-d57aa4bd2851",
      "name": "Validate Phone"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "=Reply with the company name, or type Skip.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1536,
        1040
      ],
      "id": "84ce1f69-bc53-4101-9051-e7116c9a78cb",
      "name": "Ask for Company",
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.contacts[0].wa_id }}",
            "Phone_Number": "={{ $('Validate Phone').item.json.value }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        1152
      ],
      "id": "a94a7fb7-e1ec-4055-8ce4-946e4528aadc",
      "name": "Add Phone"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/Your Whatsapp Phone Number ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Your Auth Token    "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Format Agent Output').item.json.phone }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"body\": {\n      \"text\": \"Preferred contact method\"\n    },\n    \"action\": {\n      \"button\": \"Choose Contact\",\n      \"sections\": [\n        {\n          \"title\": \"Contact Options\",\n          \"rows\": [\n            { \"id\": \"contact_1\", \"title\": \"Phone\" },\n            { \"id\": \"contact_2\", \"title\": \"Email\" },\n            { \"id\": \"contact_3\", \"title\": \"Chat\" }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        1264
      ],
      "id": "518e24cd-dd63-4262-9afb-2d11121d49ae",
      "name": "Get Contact_Method"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.phone }}",
            "Company": "={{ $('Router 1').item.json.value }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1264
      ],
      "id": "6f88feaf-c42f-4371-a33a-9021f6edfb25",
      "name": "Add Company"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/Your Whatsapp Phone Number ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Your Auth Token    "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }},\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"body\": {\n      \"text\": \"🏠 What type of flooring do you need? Please select one option:\"\n    },\n    \"action\": {\n      \"button\": \"Select Flooring\",\n      \"sections\": [\n        {\n          \"title\": \"Flooring Options\",\n          \"rows\": [\n            { \"id\": \"1_Flooring\", \"title\": \"Epoxy Flooring\" },\n            { \"id\": \"2_Flooring\", \"title\": \"Latex Screed\" },\n            { \"id\": \"3_Flooring\", \"title\": \"Shot Blasting\" },\n            { \"id\": \"4_Flooring\", \"title\": \"Liquid Screed\" },\n            { \"id\": \"5_Flooring\", \"title\": \"Not sure\" }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -1120
      ],
      "id": "b46c8fc0-f932-4caf-ab30-5c892e3e6514",
      "name": "Get Flooring"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Where is the project located? We serve the entire UK — please type the nearest city or town (e.g., Manchester).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1616,
        -880
      ],
      "id": "00b8d230-2158-440a-be71-2dcaa40e0ea1",
      "name": "Ask Project_Location",
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.contacts[0].wa_id }}",
            "Location": "={{ $('Router 1').item.json.value }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        32
      ],
      "id": "be17d666-eab4-43f3-859b-8afdcead6616",
      "name": "Add Project_Location"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.contacts[0].wa_id }}",
            "Flooring": "={{ $('Interactive Router').item.json.messages[0].interactive.list_reply.title }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        -896
      ],
      "id": "290f36cd-ada3-4033-bb86-b361f6536b1d",
      "name": "Add Flooring1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2544,
        -1136
      ],
      "id": "94474dae-0c0b-4ea3-acdf-8d8d0575e34a",
      "name": "Add Phone1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/Your Whatsapp Phone Number ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Your Auth Token    "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }},\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"📋 Project details – Current Surface (select all that apply)\\n\\nReply with the numbers corresponding to the surfaces, separated by commas (example: 1,3)\\n\\n1. Concrete\\n2. Existing Coating/Resin\\n3. Tiles\\n4. Timber\\n5. Other\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1616,
        -688
      ],
      "id": "dd443d03-75d7-4d4c-a365-ef6de6124b1a",
      "name": "Get Project_Size1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.contacts[0].wa_id }}",
            "Project Size": "={{ $('Interactive Router').item.json.messages[0].interactive.list_reply.title + ' ' + $('Interactive Router').item.json.messages[0].interactive.list_reply.description }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        -688
      ],
      "id": "6304a712-1136-4225-9f64-6931cfe61aa8",
      "name": "Add Project_Size"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "Preferred Contact": "={{ $('WhatsApp Trigger').item.json.messages[0].interactive.list_reply.title }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        -480
      ],
      "id": "71c99221-8207-470c-8204-261c3426079f",
      "name": "Confirmation"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        -480
      ],
      "id": "f3d1dc28-22a1-475d-8e13-7cafc1cd6bb4",
      "name": "Get Submitted Data"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const row = item.json;\n\n  let projectDetails = row['Project Details'] || '';\n  \n  if (Array.isArray(projectDetails)) {\n    projectDetails = projectDetails.join(', ');\n  } else if (typeof projectDetails === 'string') {\n    try {\n      const parsed = JSON.parse(projectDetails);\n      if (Array.isArray(parsed)) {\n        projectDetails = parsed.join(', ');\n      }\n    } catch (e) {}\n  }\n\n  // Helper to add only non-empty fields\n  const addField = (label, value) => {\n    if (value && value.toString().trim() !== '') {\n      return `${label}: ${value}`;\n    }\n    return null;\n  };\n\n  const lines = [\n    \"Thanks! Here’s what I’ve got:\",\n    \"\",\n    addField(\"Service\", row.Flooring),\n    addField(\"Location\", row.Location),\n    addField(\"Size\", row['Project Size']),\n    addField(\"Current surface\", projectDetails),\n    addField(\"Other surface\", row['Project Details Other']),\n    addField(\"Name\", row['Full Name']),\n    addField(\"Email\", row['Email Address']),\n    addField(\"Phone\", row.Phone_Number),\n    addField(\"Company\", row.Company),\n    addField(\"Contact method\", row['Preferred Contact'])\n  ].filter(Boolean); // removes nulls\n\n  const bodyText = lines.join(\"\\\\n\");\n\n  return {\n    json: {\n      wa_id: row.Phone.toString(),\n      whatsappBody: bodyText\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        -480
      ],
      "id": "a87c0eb8-81e2-441b-9f5f-787f5e5010cc",
      "name": "Format Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/Your Whatsapp Phone Number ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Your Auth Token    "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.wa_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.whatsappBody }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2800,
        -480
      ],
      "id": "ddc7cfc7-7d4d-4a7a-87af-52e3f93c955c",
      "name": "Send Submitted Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/Your Whatsapp Phone Number ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Your Auth Token    "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Do you want to submit your request?\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"submit_yes\",\n            \"title\": \"Confirm\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"submit_no\",\n            \"title\": \"No\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3152,
        -480
      ],
      "id": "c859ce61-308c-431d-b7aa-72e98d7f8d1e",
      "name": "Verify Details"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "✅ Submitted. A member of our team will be in touch shortly. If you have photos or plans, you can send them here anytime",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1648,
        -272
      ],
      "id": "e62b3b52-b6a9-48bb-a123-2c2509938e49",
      "name": "Records Verified",
      "webhookId": ""
    },
    {
      "parameters": {
        "content": "## WhatsApp Lead Qualification Bot - UK Commercial Flooring\n\n\nThis workflow implements an **AI-assisted WhatsApp chatbot** for collecting project details from users in a structured way for **UK Commercial Flooring Business**. \nIt uses:\n\n**WhatsApp Cloud API (via HTTP Request)**\n\n**n8n workflow automation**\n\n**OpenAI for intent detection**\n\n**Conditional routing for validation and flow control**",
        "height": 416,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -336
      ],
      "typeVersion": 1,
      "id": "5ae57c9b-bf19-4c3c-8c11-1cf531d51fcd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Flow Summary\n\n**Whatsapp Trigger**\nCaptures incoming WhatsApp messages and extracts user data.\n\n**Switch Node**\nRoutes messages based on type (button, list reply, or text).\n\n**Button Handling**\nProcesses Yes/No responses for flow control.\n\n**List Handling (Single Select)**\nHandles structured selections like flooring, size, and contact method.\n\n**Text Input Handling**\nAccepts manual inputs like location and multi-select values (e.g., 1,3).\n\n**Multi-Select Workaround**\nUses comma-separated text since WhatsApp doesn’t support multi-select lists.\n\n**Validation**\nEnsures inputs are within allowed range and handles “Other” separately.\n\n**Data Processing**\nSplits and cleans user input for structured storage.\n\n**Data Storage**\nSaves or updates user responses in Google Sheets using phone number.\n\n**Final Response**\nSends confirmation or next-step message to the user.",
        "height": 672,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        -112
      ],
      "typeVersion": 1,
      "id": "980d01ce-9911-4871-91bf-8702a04043b9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $('Router 1').item.json.phone }}",
            "Project Details": "={{ $json.mappedValues }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        432
      ],
      "id": "0fbf153e-d48c-4963-ae5f-e6b82a8a5654",
      "name": "Add Project_Details"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "location",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "01aa7110-ba52-4a28-9a9f-b7cdd42ae303"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Location"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2decbf56-0280-4514-9823-9beb9ee916f7",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Greeeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5a0c523-8a36-4306-90e5-300d9fe2fcb9",
                    "leftValue": "={{ \n  $json.value\n    .split(',')\n    .map(v => Number(v.trim()))\n    .some(v => [1,2,3,4].includes(v))\n}}",
                    "rightValue": "={{ [1,2,3,4].includes($json.output.intent) }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58d74ab3-f6d1-499e-8f6f-c06326735ffc",
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "full_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04e572f1-5a3f-42d1-baa6-ca7ce75f0208",
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1c725bd-5000-418e-a277-0a58c1bd1877",
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "phone",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Phone"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91d45ee9-7e57-4d28-9a77-6793dc32afb4",
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "company",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Company"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c9c1240-52f2-436c-8dcb-62329704d026",
                    "leftValue": "={{ $json.value?.toLowerCase() === 'skip' ? 'Skip' : $json.value }}",
                    "rightValue": "Skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=No Company"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7bd86aae-8679-451d-825f-8d1228ab2515",
                    "leftValue": "={{ $json.intent?.toLowerCase() === 'other' ? 'Other' : $json.value }}",
                    "rightValue": "Other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "351f8368-a2ec-40df-8a96-90ec6ba08320",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "project_details_other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Surface Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        592
      ],
      "id": "ae53cac9-9f03-4eb3-b8c9-5b2a0ee8ebe1",
      "name": "Router 1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].interactive.button_reply.title }}",
                    "rightValue": "Yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c8ae3b47-7100-4b00-a2eb-2fcd7dbdd8f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3c51fd7-b4c0-4e20-bb65-7a29399cbfeb",
                    "leftValue": "={{ $json.messages[0].interactive.list_reply.id }}",
                    "rightValue": "Flooring",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Flooring"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2382d4cd-1f72-4106-a30b-2c736c56fc7b",
                    "leftValue": "={{ $json.messages[0].interactive.list_reply.id }}",
                    "rightValue": "size",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Size"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "47dbdcb3-a07b-4c3e-a109-d7dab90e6c04",
                    "leftValue": "={{ $json.messages[0].interactive.list_reply.id }}",
                    "rightValue": "contact",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f8b20aa-85d0-43e3-8690-9787093f55e2",
                    "leftValue": "={{ $json.messages[0].interactive.button_reply.id }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "31f8ff60-ed83-4b7f-a291-97d38e2ec54a",
                    "leftValue": "={{ $json.messages[0].interactive.button_reply.id }}",
                    "rightValue": "submit_no",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -752
      ],
      "id": "babbf6d2-8392-4c66-a635-50eb2dd18da0",
      "name": "Interactive Router"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  let outputObj = {};\n\n  try {\n    let raw = item.json.output;\n\n    if (typeof raw === \"string\") {\n      // Remove markdown code block formatting\n      raw = raw.replace(/```json|```/g, \"\").trim();\n\n      // Parse string into object\n      outputObj = JSON.parse(raw);\n    } else {\n      outputObj = raw || {};\n    }\n\n  } catch (err) {\n    outputObj = {};\n  }\n\n  return {\n    json: {\n      intent: outputObj.intent || \"other\",\n      field: outputObj.field || \"null\",\n      value: outputObj.value || \"\",\n      phone: outputObj.user_phone\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        272
      ],
      "id": "66f4ddda-41ed-48f4-987e-4705184d77e3",
      "name": "Format Agent Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c586d91-6e85-41c4-91a8-babb0ed72154",
              "leftValue": "={{ $json.Phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2096,
        -1120
      ],
      "id": "3cf12387-9d9a-45e2-bb63-fc6800598379",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        -1120
      ],
      "id": "633b8ecb-2b72-4216-8be6-fe545b01c4e0",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "Flooring": "={{ '' }}",
            "Location": "={{ '' }}",
            "Project Size": "={{ '' }}",
            "Project Details": "={{ '' }}",
            "Full Name": "={{ '' }}",
            "Email Address": "={{ '' }}",
            "Phone_Number": "={{ '' }}",
            "Company": "={{ '' }}",
            "Preferred Contact": "={{ '' }}",
            "Project Details Other": "={{ '' }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Details Other",
              "displayName": "Project Details Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2528,
        -896
      ],
      "id": "1f2f9deb-7372-4187-9931-5e7e7604ad79",
      "name": "Append Info"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Please briefly describe ‘Other'.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1152,
        1456
      ],
      "id": "2b46fc83-3e0a-45ea-bc2f-d15cecdb7eb8",
      "name": "Ask Details",
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.phone }}",
            "Project Details Other": "={{ $json.value }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Flooring",
              "displayName": "Flooring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Size",
              "displayName": "Project Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details",
              "displayName": "Project Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preferred Contact",
              "displayName": "Preferred Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Details Other",
              "displayName": "Project Details Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        1552
      ],
      "id": "d2e01bcf-5555-4652-b17b-94a7bcb15b80",
      "name": "Other ProjectSurface"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "your id",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your id/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        320,
        608
      ],
      "id": "5b11291e-cab2-4d8a-97e3-07b010a02c06",
      "name": "Get Data"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "Your Whatsapp Phone Number ID",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "Hi 👋 Welcome to UK Commercial Flooring. I’ll ask a few quick questions to get your quote request over to the team.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1248,
        240
      ],
      "id": "ab53c2de-f62f-403c-ac03-d0760381f227",
      "name": "Send message",
      "webhookId": ""
    },
    {
      "parameters": {
        "sendTo": "email",
        "subject": "Quote Added ",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3616,
        -480
      ],
      "id": "f30a91a0-4698-47fa-89af-e9bc63f894d9",
      "name": "Send a message",
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const data = $('Format Data').first().json;\n\n// Convert literal \\n into HTML line breaks\nlet message = data.whatsappBody\n  .replace(/\\\\n/g, '<br>')\n  .trim();\n\n// Optional: wrap in simple clean HTML container\nconst htmlBody = `\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6;\">\n  ${message}\n</div>\n`;\n\nreturn [\n  {\n    json: {\n      html: htmlBody,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -480
      ],
      "id": "5dcf445d-af46-411d-b7b4-f19aa2e704f7",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Check Interactive or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intent Detection Agent": {
      "main": [
        [
          {
            "node": "Format Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Interactive or Text": {
      "main": [
        [
          {
            "node": "Interactive Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Detection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project_Size": {
      "main": [
        [
          {
            "node": "Add Project_Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask For Name": {
      "main": [
        [
          {
            "node": "Map Project_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Project_Details": {
      "main": [
        [
          {
            "node": "Add Project_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for Email": {
      "main": [
        [
          {
            "node": "Add Full_Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Ask for Phone_Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask for Email Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for Phone_Number": {
      "main": [
        [
          {
            "node": "Add Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Phone": {
      "main": [
        [
          {
            "node": "Ask for Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for Company": {
      "main": [
        [
          {
            "node": "Add Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact_Method": {
      "main": [
        []
      ]
    },
    "Add Company": {
      "main": [
        [
          {
            "node": "Get Contact_Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Flooring": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Project_Location": {
      "main": [
        [
          {
            "node": "Add Flooring1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Phone1": {
      "main": [
        []
      ]
    },
    "Get Project_Size1": {
      "main": [
        [
          {
            "node": "Add Project_Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation": {
      "main": [
        [
          {
            "node": "Get Submitted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Submitted Data": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Send Submitted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Submitted Data": {
      "main": [
        [
          {
            "node": "Verify Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Details": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router 1": {
      "main": [
        [
          {
            "node": "Get Project_Size",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask For Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask for Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Contact_Method",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other ProjectSurface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interactive Router": {
      "main": [
        [
          {
            "node": "Get Flooring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Project_Location",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Project_Size1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Records Verified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Flooring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Agent Output": {
      "main": [
        [
          {
            "node": "Router 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add Phone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other ProjectSurface": {
      "main": [
        [
          {
            "node": "Ask For Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "ai_tool": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Ask for confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "messaging_product": "whatsapp",
        "metadata": {
          "display_phone_number": "your number",
          "phone_number_id": "your id"
        },
        "contacts": [
          {
            "profile": {
              "name": "your name"
            },
            "wa_id": "your id"
          }
        ],
        "messages": [
          {
            "from": "your id",
            "id": "wamid.HBgMOTIzMDk0NjE3NDc4FQIAEhgUM0E2QkRDQzg3QzMzRDQ4QTA0M0UA",
            "timestamp": "1772670868",
            "text": {
              "body": "Bolton"
            },
            "type": "text"
          }
        ],
        "field": "messages"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa365a75d87aa5b2adf583f3732943aa18c826026383f5f6049ef2d5ba5a2eb6"
  }
}