3. Municipal Data Source Directory Agent/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -560,
        -32
      ],
      "id": "d7d95bbb-488c-4072-8d66-4336f900d132",
      "name": "When chat message received",
      "webhookId": "5fdfc01d-9342-41c3-af26-f76e3b349537"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=ROLE\nYou are a senior municipal data reconnaissance specialist.\nYou specialize in discovering automation-ready endpoints for:\n\n- 311 Service Requests\n- Code Enforcement Cases\n- Code Violations\n- Property Inspections\n- Nuisance Complaints\n- Unsafe Structures\n- Building / Enforcement Modules\n\nGOAL\nFor State: {{$json.state}}\nCity: {{$json.county}}, identify the MOST automation-friendly data source available.\nYour objective is to find the underlying API or dataset — not just the public portal.\n\nINPUT\nIndiana\tNoblesville\nIndiana\tLafayette\nIowa\tDes Moines\nIowa\tCedar Rapids\n\n-------------------------------------\nREQUIRED OUTPUT TABLE\n-------------------------------------\n\nReturn a structured table with these columns:\n\n1) City\n2) State\n3) Vendor / Platform\n   (Socrata, ArcGIS, SeeClickFix, Accela, Tyler EnerGov, Tyler Portico, CitySourced,\n    OpenGov, Granicus, GovQA, Salesforce, Custom, Other)\n4) Data Type\n   (311, Code Enforcement, Violations, Inspections, CRM, etc.)\n5) Direct Endpoint URL\n6) Access Format\n   (CSV / JSON / GeoJSON / OData / HTML only)\n7) Auth Required?\n   (No / Yes / Unknown)\n8) Pagination Method\n   (limit/offset, resultRecordCount/resultOffset, page param, etc.)\n9) Date Filter Field\n   (created_date, requested_datetime, adddate, open_date_time, etc.)\n10) Example Working Query\n11) Portal URL (if applicable)\n12) Automation Score (1–5)\n    5 = clean API\n    1 = HTML only\n\n-------------------------------------\nSEARCH PRIORITY (STRICT ORDER)\n-------------------------------------\n\n1️⃣ Socrata Open Data\n- Look for:\n  data.{city}.gov\n  opendata.{city}.gov\n- Identify dataset ID (xxxx-xxxx)\n- Provide:\n  .csv endpoint\n  .json endpoint\n- Provide example query using recent date filter.\n\n2️⃣ ArcGIS REST FeatureServer\n- Find official ArcGIS REST directories\n- Identify layers with:\n  311\n  Code Enforcement\n  Violations\n  Inspections\n- Provide:\n  /query endpoint\n  where=1=1\n  outFields=*\n  f=json\n- Confirm JSON returns “features”.\n\n3️⃣ SeeClickFix API\n- Confirm if city uses SeeClickFix.\n- Provide:\n  https://seeclickfix.com/api/v2/issues\n- Use:\n  after=\n  bounding box or place_url\n- Provide working example.\n\n4️⃣ Accela Citizen Access (ACA)\n- Determine if city uses Accela.\n- If YES:\n  - Provide Enforcement portal URL:\n    /Cap/CapHome.aspx?module=Enforcement\n  - Inspect if backend API exists.\n  - If no API exists, clearly mark:\n    “HTML Portal Only – No Public API”\n  - Assign Automation Score = 1\n- If API calls found via network tab, document them.\n\nExample:\nAtlanta, GA → Accela HTML-only Enforcement Portal.\n\n5️⃣ Tyler EnerGov / Tyler Portico\n- Look for:\n  tylerportico.com\n  energov.tylertech.com\n- Inspect network calls for JSON endpoints.\n- Provide API if available.\n\n6️⃣ OpenGov Transparency\n- Check:\n  controlpanel.opengov.com\n  /api/embed_service/\n- Provide embed API if present.\n\n7️⃣ CitySourced\n- Look for:\n  callapiendpoint.ashx\n- Provide working endpoint.\n\n8️⃣ Salesforce / Custom React Portals\n- Inspect network calls.\n- Identify JSON endpoints.\n\n-------------------------------------\nREQUIRED VALIDATION\n-------------------------------------\n\nFor each endpoint:\n- Confirm it loads.\n- Confirm JSON contains data or metadata.\n- If ArcGIS, confirm “features” array exists.\n- If Socrata, confirm dataset ID works.\n- If HTML-only, explicitly state:\n  “No automation-friendly API discovered.”\n\n-------------------------------------\nFINAL SECTION\n-------------------------------------\n\nAfter the table, provide:\n\nBEST AUTOMATION SOURCE:\n- Which source is best and why.\n- Suggested ingestion strategy (Socrata bulk pull, ArcGIS pagination, etc.)\n- Any rate limits or known constraints.\n\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "71f07705-0e8d-4275-9cae-126cd2f1f903",
      "name": "CODE_ENFORCEMENT_AGENT"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=ROLE:\nYou are a Senior Web Research Specialist focused on locating official U.S. Tax Delinquent data sources.\n\nOBJECTIVE:\nFind the most automation-friendly official tax delinquent data source for:\n\nState: {{$json.state}}\nCounty: {{$json.county}}\n\n\nYou must prioritize official government sources and avoid paid third-party data providers.\n\n--------------------------------------------------\n\nSEARCH STRATEGY:\n\nSearch for combinations of:\n\n\"{County} {State} tax delinquent list\"\n\"{County} {State} delinquent tax roll\"\n\"{County} {State} tax sale list\"\n\"{County} {State} unpaid property taxes\"\n\"{County} {State} TWR download\"\n\"{County} {State} ACT tax system\"\n\"{County} {State} delinquent tax CSV\"\n\"{County} {State} foreclosure tax list\"\n\nAlso inspect:\n\n- County Tax Assessor website\n- County Tax Collector website\n- Treasurer website\n- Comptroller website\n- Forms & Downloads sections\n- ArcGIS REST directories\n- Socrata Open Data portals\n- ACT tax systems (e.g., *.acttax.com, *.dallasact.com)\n- data.{city}.gov portals\n- /FeatureServer/query endpoints\n\n--------------------------------------------------\n\nTARGET DATA TYPES:\n\n- Downloadable CSV, XLS, or Excel files\n- Downloadable PDF delinquent lists\n- Searchable online delinquent tax database\n- ArcGIS REST API endpoint\n- Socrata dataset\n- ACT tax detail pages with account parameters\n\n--------------------------------------------------\n\nREQUIRED OUTPUT (STRICT JSON ONLY):\n\n{\n  \"state\": \"\",\n  \"county\": \"\",\n  \"dataSourceType\": \"\",\n  \"directUrl\": \"\",\n  \"baseUrl\": \"\",\n  \"vendor\": \"\",\n  \"searchable\": \"\",\n  \"downloadable\": \"\",\n  \"authenticationRequired\": \"\",\n  \"accessFormat\": \"\",\n  \"paginationMethod\": \"\",\n  \"dateField\": \"\",\n  \"exampleQuery\": \"\",\n  \"automationScore\": \"\",\n  \"notes\": \"\"\n}\n\n--------------------------------------------------\n\nDATA SOURCE TYPE OPTIONS:\n\n- Search Portal\n- Downloadable CSV\n- Downloadable XLS\n- Downloadable PDF\n- ArcGIS REST API\n- Socrata Open Data\n- ACT Tax System\n- HTML Only\n- Not Found\n\n--------------------------------------------------\n\nAUTOMATION SCORE (1–5):\n\n5 = Direct API or clean CSV\n4 = Downloadable structured file\n3 = Search portal with predictable query params\n2 = HTML only, scraping required\n1 = No usable data found\n\n--------------------------------------------------\n\nIMPORTANT:\n\n- Return STRICT JSON only.\n- No markdown.\n- No commentary.\n- No explanations.\n- If nothing found, return:\n\n{\n  \"state\": \"{state}\",\n  \"county\": \"{county}\",\n  \"dataSourceType\": \"Not Found\"\n}\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "a353e15c-1281-4847-bfff-a78d224d5832",
      "name": "TAX_DELINQUENT_AGENT"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=ROLE:\nYou are a Senior Web Research Specialist specializing in U.S. County Clerk, Recorder of Deeds, and Official Records systems. You understand third-party vendor platforms commonly used by counties (Tyler Technologies, LandmarkWeb, Fidlar, PublicSearch, Acclaim, Aumentum, EagleWeb, Manatron, GovOS, Thomson Reuters, etc.).\n\nOBJECTIVE:\nFind the official online document search portal for:\n\nState: {{$json.state}}\nCounty: {{$json.county}}\n\nI need the direct searchable records portal URL — NOT the county homepage.\n\n------------------------------------------------------------\n\nWHAT I NEED:\n\n1. Direct Search URL (must load a document search interface)\n2. Base URL (domain root)\n3. Vendor / System Provider\n4. Platform Type (TylerHost, LandmarkWeb, PublicSearch, Fidlar, Acclaim, Aumentum, EagleWeb, Manatron, etc.)\n5. Login Required? (Yes/No)\n6. Captcha Present? (Yes/No)\n7. Search Filters Available:\n   - Document Type Filter (Yes/No)\n   - Date Range Filter (Yes/No)\n8. Automation Notes:\n   - JS heavy?\n   - Uses iframe?\n   - Requires session token?\n   - Search form POST or GET?\n   - Query parameters visible?\n   - Any anti-bot protections?\n\n------------------------------------------------------------\n\nPRIORITY VENDOR PATTERNS TO CHECK:\n\nTyler Technologies:\n- tylerhost.net/web/search\n- landmarkweb\n- publicsearch.us\n- selfservice\n- DOCSEARCH####\n- /Home/Index\n\nFidlar / AVA:\n- fidlar.com\n- AvaWeb\n- DirectSearch\n\nAcclaim (Harris / GovOS):\n- /AcclaimWeb/search/SearchTypeDocType\n\nAumentum / Thomson Reuters:\n- /RealEstate/SearchEntry.aspx\n\nManatron:\n- /RealEstate/SearchEntry.aspx\n\nEagleWeb:\n- /eagleweb/docSearch.jsp\n\nClerk Self-Service:\n- /officialrecords\n- /oripublicaccess\n- /oriss\n\n------------------------------------------------------------\n\nSEARCH STRATEGY:\n\nUse search combinations like:\n\n\"[County Name] [State] official records search\"\n\"[County Name] [State] recorder document search\"\n\"[County Name] [State] clerk public search\"\n\"[County Name] [State] land records search\"\n\"[County Name] [State] tylerhost\"\n\"[County Name] [State] landmarkweb\"\n\"[County Name] [State] publicsearch.us\"\n\nAlso try:\n\nsite:publicsearch.us \"[County Name]\"\nsite:tylerhost.net \"[County Name]\"\nsite:fidlar.com \"[County Name]\"\nsite:acclaim \"[County Name]\"\nsite:aumentum \"[County Name]\"\nsite:eagleweb \"[County Name]\"\n\n------------------------------------------------------------\n\nREQUIRED OUTPUT FORMAT:\n\nState:\nCounty:\n\nDirect Search URL:\nBase URL:\nVendor:\nPlatform Type:\nLogin Required:\nCaptcha Present:\n\nSearch Filters Available:\n- Document Type Filter:\n- Date Range Filter:\n\nAutomation Notes:\n- JS heavy?\n- Uses iframe?\n- Requires session token?\n- Search form POST or GET?\n- Query parameters visible?\n- Anti-bot protection details:\n\n------------------------------------------------------------\n\nIMPORTANT RULES:\n\n- DO NOT return the county homepage.\n- DO NOT return informational pages.\n- Must be the live searchable records portal.\n- Must confirm the page loads a searchable records interface.\n- If multiple portals exist, return the PRIMARY Official Records / Recorder portal.\n- If no portal exists, clearly state: \"No public searchable portal found.\"\n\n------------------------------------------------------------\n\nBegin research for:\n\nState: {{$json.state}}\nCounty: {{$json.county}}\n\n\n\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "f4069c64-7be8-4d96-b0e9-46f70fb49145",
      "name": "CLERK_AGENT"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=Role: You are a GIS Data Specialist and Web Researcher. Task: Locate and validate the official ArcGIS REST API query endpoint for property parcel data.\n\nTarget Jurisdiction:\n\nState: {{$json.state}}\nCounty: {{$json.county}}\n\nTechnical Requirements:\n\nLocate the Layer Resource: Find the official County/City GIS Layer URL (e.g., .../MapServer/0).\n\nValidate Fields: Before finalizing the URL, verify the \"Fields\" section on the Layer Resource page.\n\nCount: Ensure there are more than 10 fields listed.\n\nContent: Look for key parcel attributes such as parcelid, siteaddress, ownername, or legal_description.\n\nFinalize Endpoint: Append /query to the validated Layer URL.\n\nRequired Output Format:\n\nValidated Base URL: $baseUrl = \"https://[domain]/.../[LayerID]/query\"\n\nField Count: [Number of fields found]\n\nSample Fields: [List 3-5 key parcel fields found]"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        384,
        192
      ],
      "id": "eb536532-d639-4ed8-aecd-efe177aa4df8",
      "name": "PARCEL_GIS_AGENT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Request:\n{{ $json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE:\nYou are a Real Estate Data Orchestration Agent.\n\nYou do NOT perform research.\nYou do NOT summarize tool results.\nYou do NOT explain reasoning.\n\nYour job is to:\n1) Detect the correct intent.\n2) Extract State and County.\n3) Call exactly ONE appropriate tool.\n4) Pass extracted State and County as arguments.\n5) After the tool responds, return BOTH:\n   - The extracted state\n   - The extracted county\n   - The complete tool response\n\n--------------------------------------------------\n\nAVAILABLE TOOLS:\n\nCLERK_AGENT → clerk, recorder, deeds, liens, official records\nCODE_ENFORCEMENT_AGENT → 311, violations, inspections\nPARCEL_GIS_AGENT → parcel data, GIS, ArcGIS\nTAX_DELINQUENT_AGENT → tax delinquent, tax sale, unpaid taxes\n\n--------------------------------------------------\n\nGEOGRAPHY RULES:\n\n- Extract state if present.\n- Extract county if present.\n- If county appears without the word “County”, still detect it.\n- If missing, use empty string \"\".\n- Preserve proper capitalization.\n\n--------------------------------------------------\n\nTOOL CALL FORMAT:\n\n{\n  \"state\": \"<State>\",\n  \"county\": \"<County>\"\n}\n\n--------------------------------------------------\n\nFINAL OUTPUT FORMAT (STRICT):\n\nAfter the tool returns, respond in this structure:\n\n{\n  \"state\": \"<extracted state>\",\n  \"county\": \"<extracted county>\",\n  \"toolResult\": <exact tool response without modification>\n}\n\nDo NOT summarize.\nDo NOT modify tool output.\nReturn structured JSON only.\n",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -24,
        -32
      ],
      "id": "623e336a-e6f1-49ef-bc9b-d6a515d567c9",
      "name": "Intent Detection Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        192
      ],
      "id": "be7b2402-bb6d-4f23-a8f3-f62ce3643663",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        192
      ],
      "id": "da0667fb-9c23-4072-84e3-fe7d4358c24d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sourceType\": \"\",\n  \"state\": \"\",\n  \"county\": \"\",\n  \"city\": \"\",\n\n  \"primaryUrl\": \"\",\n  \"baseUrl\": \"\",\n  \"endpointUrl\": \"\",\n\n  \"vendor\": \"\",\n  \"platformType\": \"\",\n  \"dataSourceType\": \"\",\n\n  \"accessFormat\": \"\",\n  \"authenticationRequired\": \"\",\n  \"searchable\": \"\",\n  \"downloadable\": \"\",\n\n  \"documentTypeFilter\": \"\",\n  \"dateRangeFilter\": \"\",\n  \"paginationMethod\": \"\",\n  \"dateField\": \"\",\n\n  \"automationScore\": \"\",\n  \"notes\": \"\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "1e33fbbb-c242-476f-9b0e-70a33ea361ec",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your google sheet id",
          "mode": "list",
          "cachedResultName": "LSPDATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your google sheet id/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 83303893,
          "mode": "list",
          "cachedResultName": "Data Source",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your google sheet id/edit#gid=83303893"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "State ": "={{ $json.output.state }}",
            "County": "={{ $json.output.county }}",
            "DownloadURL": "={{ $json.output.endpointUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "State ",
              "displayName": "State ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "County",
              "displayName": "County",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DownloadURL",
              "displayName": "DownloadURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -32
      ],
      "id": "7c9d5991-6be9-458c-a342-6b08a31f63a3",
      "name": "Add Data to Spreadsheet"
    },
    {
      "parameters": {
        "options": {
          "fileName": "File.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        864,
        -32
      ],
      "id": "e338b63a-624e-4bf8-8d97-83cc4bc43df9",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ENFORCEMENT_AGENT": {
      "ai_tool": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TAX_DELINQUENT_AGENT": {
      "ai_tool": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CLERK_AGENT": {
      "ai_tool": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PARCEL_GIS_AGENT": {
      "ai_tool": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Intent Detection Agent": {
      "main": [
        [
          {
            "node": "Add Data to Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Intent Detection Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Add Data to Spreadsheet": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "758e0ffe30e13cd672350dc14c0e482c3ce618b857510e7b0d249aee47ffa282"
  }
}